.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco-principal);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.15em;
    font-weight: 700;
    padding: 1.2em 0em 0.5em 0;
    
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}
.card {
    border-radius: 10px;
    background: var(--branco-principal);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;

}

.card__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;

}

.descrição__titulo {
    font-weight:700 ;
    color: var(--laranja);
}

.descrição__titulo-livro{
    font-weight: 700;
    font-size: 1.125em;
    color: var(--azul);
    margin: 0.5em 0;
}
.descrição__texto{
    font-size: 0.875em;
}

.descrição__img {
   margin-bottom: 1em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.botoes__ancora {
    text-decoration: none;
    text-align: center;
    background-color: var(--laranja);
    color: var(--branco-principal);
    padding: 1em 2.25em;
}
.botoes {
    display: flex;
    align-items: center;
  
}

@media screen and (min-width: 1024px) {
.swiper-button-prev,
.swiper-button-next {
    display: block;
    top: 60%;
}


.carrossel__titulo {
    font-size: 26px;
}

.swiper-pagination {
    margin: 2em 0 3em 0;
}

.swiper {
    width: 60%;
}

.card {
    width: 40%;
    margin: 2em auto;
}

.descrição__imagem:hover {

    transform: scale(1.1);
}

.botoes__ancora:hover {

    opacity: 0.8;
}

.swiper-slide__imagem:hover{
    transform: scale(1.05);
    z-index: 2;
}

}

@media screen and (min-width: 1728px) {

    .carrossel__card {
      margin: 3em 8em;
    }

    .carrossel__titulo {
        font-size: 32px;
    }

    .descrição__titulo {
        font-size: 32px;
    }

    .descrição__titulo-livro {
        margin: 1em 0 1em 0;
    }

    .swiper {
        width: 55%;
        margin-bottom: 3.5em;
        margin-right: 2em;
    }
    
    .card {
        width: 60%;
        padding: 3em 1em;
        margin-left: 1em;


    }

    .carrossel__card {
        display: flex;
        align-items: center;
    }


    .swiper-pagination {
       margin-bottom: 1em;
    }


    .swiper-scrollbar {
       display: block;
       margin-top: 1em;
    }




}